
html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-image: url('assets/theater2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
img {
  margin: 3px;
}
.mainTitle {
  color: white;
  font-family: 'Bungee Inline', cursive;

}
.noFlex {
  display: inline-block;
}
img.noFlex {
  width: 90%;
}
.block {
  display: block;
  max-width: 80%;
  margin: auto;
}

.myButton {
position: absolute;
top: 20px;
left: 20px;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #273a5c), color-stop(1, #476e9e));
background:-moz-linear-gradient(top, #273a5c 5%, #476e9e 100%);
background:-webkit-linear-gradient(top, #273a5c 5%, #476e9e 100%);
background:-o-linear-gradient(top, #273a5c 5%, #476e9e 100%);
background:-ms-linear-gradient(top, #273a5c 5%, #476e9e 100%);
background:linear-gradient(to bottom, #273a5c 5%, #476e9e 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#273a5c', endColorstr='#476e9e',GradientType=0);
background-color:#273a5c;
-moz-border-radius:16px;
-webkit-border-radius:16px;
border-radius:12px;
border:3px solid #4e6096;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:18px;
padding:5px 24px;
text-decoration:none;
margin-bottom: 2%;

}
.myButton:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #273a5c));
background:-moz-linear-gradient(top, #476e9e 5%, #273a5c 100%);
background:-webkit-linear-gradient(top, #476e9e 5%, #273a5c 100%);
background:-o-linear-gradient(top, #476e9e 5%, #273a5c 100%);
background:-ms-linear-gradient(top, #476e9e 5%, #273a5c 100%);
background:linear-gradient(to bottom, #476e9e 5%, #273a5c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#273a5c',GradientType=0);
background-color:#476e9e;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.formContainer {
  align-items: center;
}
.fa-search {
  position: absolute;
  /* color: green; */
  top: 11px;
  left: 316px;
  position: absolute;

}
.repeatIMG {
  margin: 3%;
}
.searchForm {
  position: relative;
}
.searchForm input{
  background-color:#fff;
  border-color:#191919;
  border-style:solid;
  border-width:2px;
  font-size:1.2em;
  line-height:1em;
  height:40px;
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.detailContainer {
  text-align: center;
}
.details {
    width: 66%;
    border-radius: 80px;
    background: ghostwhite;
    margin: 3% 0 2% 0;
}
@media screen and (max-width: 893px) {
  .nowplay {
    width: 100%;
    text-align: center;
  }
  .myButton {
    position: static;
  }
}
